* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    width: 100%;
  }
  
  .navbar,
  .navbar > .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width: 768px) {
    .navbar,
    .navbar > .container {
      display: block;
    }
  }
  
  .navbar {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    padding: 1rem 1.15rem;
    border-bottom: 1px solid #eceef3;
  }
  
  .navbar .navbar-header {
    display: flex;
    align-items: center;
  }
  @media (max-width: 768px) {
    .navbar .navbar-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }
  .navbar .navbar-header .navbar-toggler {
    cursor: pointer;
    border: none;
    display: none;
    outline: none;
  }
  @media (max-width: 768px) {
    .navbar .navbar-header .navbar-toggler {
      display: block;
    }
  }
  .navbar .navbar-header .navbar-toggler span {
    height: 2px;
    width: 22px;
    background-color: #929aad;
    display: block;
  }
  .navbar .navbar-header .navbar-toggler span:not(:last-child) {
    margin-bottom: 0.2rem;
  }
  .navbar .navbar-header > a {
    font-weight: 500;
    color: #3c4250;
  }
  .navbar-header h4 {
    color: #0048ff;
  }
  .navbar .navbar-menu {
    display: flex;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
  }
  @media (max-width: 768px) {
    .navbar .navbar-menu {
      display: none;
      text-align: center;
    }
  }
  .navbar .navbar-menu.active {
    display: flex !important;
  }
  .navbar .navbar-menu .navbar-nav {
    margin-left: auto;
    flex-direction: row;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  @media (max-width: 768px) {
    .navbar .navbar-menu .navbar-nav {
      width: 100%;
      display: block;
      border-top: 1px solid #EEE;
      margin-top: 1rem;
    }
  }
  .navbar .navbar-menu .navbar-nav > li > a {
    color: #3c4250;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1rem;
  }
  
  @media (max-width: 768px) {
    .navbar .navbar-menu .navbar-nav > li > a {
      border-bottom: 1px solid #eceef3;
    }
  }
  
  .navbar .navbar-menu .navbar-nav .navbar-drop .drop {
    list-style: none;
    position: absolute;
    top: 150%;
    left: 0;
    background-color: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-width: 160px;
    width: auto;
    white-space: nowrap;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    z-index: 99999;
    border-radius: 0.75rem;
    display: none;
  }
  .menu1 {
    width: 100%;
    height: 100%;
    justify-content: end;
  }
  
  .drop {
    display: inline-block;
    position: relative;
  }
  .drop button,
  .drop a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
  }
  
  .drop button {
    background-color: #fff;
    color: #f6bb39;
    font-weight: 600;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }
  
  .drop:hover .con3 {
    display: block;
    z-index: 999;
  }
  
  .drop:hover button {
    color: #fff;
    background-color: #0048ff;
    border-radius: 20px;
  }
  
  .drop a {
    color: black;
  }
  
  .drop a:hover {
    background-color: #0048ff;
    color: #fff;
    border-radius: 10px;
    position: relative;
    z-index: 1000;
  }
  
  .drop .con3 {
    display: none;
    background-color: #ffffff;
    min-width: 100px;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: 0;
  }
  
  @media (max-width: 768px) {
    .drop .con3 {
      display: none;
      background-color: #ffffff;
      position: static;
      min-width: 100px;
      box-shadow: 2px 2px 5px black;
    }
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #9269cf;
    color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    }
    
    .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    
    .close-button:hover,
    .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }
    @media (max-width: 768px) {
    .modal-content {
    background-color: #9269cf;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    color: #ffffff;
    width: 90%;
    }
    }
    
    .con1{
        width: 100%;
        height: 800px;
        background-image: url('Surot/fon1.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh; /* Устанавливаем высоту на 100% viewport height */
        position: relative;
      
    }

.block1{
    width: 70%;
    height: 70%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    text-align: center;
    align-items: center;
    gap: 5%;
}
.block1 img{
    border-radius: 50%;
    border: #c66dc5 solid 10px;
}
.block1 .text{
    font-size:calc(6px + 8 * (100vw - 320px) / 880);
    color: #DB3A15;
}
.block1 button{
  width: 200px;
  padding: 7px;
  background-color: #F47C00;
  border: none;
  color: #EEE;
  font-size: medium;
  border-radius: 10px;
}
.block1 button:hover{
  background-color: #EEE;
  color: #000000;
  box-shadow: #000000 5px 10px 20px;
  transition: 1s;
}
.block1 p{
  color: hsla(0, 0%, 0%, 0.542);
}
.ima{
  width: 100%;
  padding: 50px;
  text-align: center;
  background-color:#543ac8;
  color: #ffffff;
}
.con2{
  width: 100%;
  height: 800px;
  background-image: url('Surot/fon3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.block2{
  width: 90%;
  height: 90%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  gap: 5%;
  display: flex;
  flex-wrap: wrap;

}

















    @media (max-width: 768px) {
        .con1{
            width: 100%;
            height: 430px;
            background-image: url('Surot/fon2.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
      
        
        }
        .block1{
            width: 90%;
            height: 70%;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            align-items: center;
            gap: 6%;
            justify-content: center;
        }
        .block1 img{
            border-radius: 80%;
            border: #c66dc5 solid 10px;
        }
   
        .block1 button{
          width: 100px;
          padding: 2px;
          background-color: #F47C00;
          border: none;
          color: #EEE;
          font-size: medium;
          border-radius: 10px;
        }
        .con2{
          width: 100%;
          height: 700px;
          background-image: url('Surot/fon4.png');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        
        }